
@{
    ViewData["Title"] = "CompletedWorks";
    Layout = "~/Views/Layout/Layout.cshtml";
}

<section class="page-title section pb-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="text-center">
					<h1 class="text-capitalize mb-0 text-lg">Daha Önceki Çalışmalarımız</h1>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section blog-post">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="post mb-5">
					<a class="image-content" href="blog-single.html">
						<img src="~/thomson-main/theme/images/blog/minimal-1.jpg" alt="" class="img-fluid">
					</a>

					<div class="post-content">
						<span class="date text-uppercase text-sm">17 june 2019</span>
						<a href="blog-single.html"><h4>If you are starting off with a new domain name with no traffic so to speak of you.</h4></a>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="post mb-5">
					<a class="image-content" href="blog-single.html">
						<img src="~/thomson-main/theme/images/blog/minimal-2.jpg" alt="" class="img-fluid">
					</a>

					<div class="post-content">
						<span class="date text-uppercase text-sm">17 june 2019</span>

						<a href="blog-single.html"><h4>WordPress has a great number of points that can be made in favor of its use.</h4></a>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="post mb-5">
					<a class="image-content" href="blog-single.html">
						<img src="~/thomson-main/theme/images/blog/minimal-3.jpg" alt="" class="img-fluid">
					</a>

					<div class="post-content">
						<span class="date text-uppercase text-sm">17 june 2019</span>

						<a href="blog-single.html"><h4>Elegant Brand Identity for Artistic Glass Installations more Than A White Coat</h4></a>

					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="post mb-5 mb-lg-0">
					<a class="image-content" href="blog-single.html">
						<img src="~/thomson-main/theme/images/blog/minimal-4.jpg" alt="" class="img-fluid">
					</a>

					<div class="post-content">
						<span class="date text-uppercase text-sm">17 june 2019</span>

						<a href="blog-single.html"><h4>If you are starting off with a new domain name with no traffic so to speak of you.</h4></a>

					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="post mb-5 mb-lg-0">
					<a class="image-content" href="blog-single.html">
						<img src="~/thomson-main/theme/images/blog/minimal-3.jpg" alt="" class="img-fluid">
					</a>

					<div class="post-content">
						<span class="date text-uppercase text-sm">17 june 2019</span>

						<a href="blog-single.html"><h4>WordPress has a great number of points that can be made in favor of its use.</h4></a>

					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="post mb-5 mb-lg-0">
					<a class="image-content" href="blog-single.html">
						<img src="~/thomson-main/theme/images/blog/minimal-2.jpg" alt="" class="img-fluid">
					</a>

					<div class="post-content">
						<span class="date text-uppercase text-sm">17 june 2019</span>

						<a href="blog-single.html"><h4>Elegant Brand Identity for Artistic Glass Installations more Than A White Coat</h4></a>
					</div>
				</div>
			</div>
		</div>


	</div>
</section>

