<html lang="tr">


@await Html.PartialAsync("/Views/AdminLayout/HeadPartial.cshtml")


<body>

    @await Html.PartialAsync("/Views/AdminLayout/NavbarPartial.cshtml")

    @RenderBody()







    @await Html.PartialAsync("/Views/AdminLayout/ScriptPartial.cshtml")
</body>
</html>