
<head>
    <meta charset="utf-8">
    <title>Thomson-Minimal Portfolio Temaplate</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- theme meta -->
    <meta name="theme-name" content="thomson" />

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/thomson-main/thomson-main/theme/plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/thomson-main/thomson-main/theme/plugins/themify/css/themify-icons.css">
    <link rel="stylesheet" href="~/thomson-main/thomson-main/theme/plugins/counto/animate.css">
    <link rel="stylesheet" href="~/thomson-main/thomson-main/theme/plugins/aos/aos.css">
    <link rel="stylesheet" href="~/thomson-main/thomson-main/theme/plugins/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/thomson-main/thomson-main/theme/plugins/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/thomson-main/thomson-main/theme/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="~/thomson-main/thomson-main/theme/plugins/animated-text/animated-text.css">

    <!-- Main Stylesheet -->
    <link href="~/thomson-main/thomson-main/theme/css/style.css" rel="stylesheet">

</head>