<aside class="main-sidebar hidden-print ">
    <section class="sidebar" id="sidebar-scroll">
        <!-- Sidebar Menu-->
        <ul class="sidebar-menu">
            <li class=" treeview">
                <a class="waves-effect waves-dark" href="index.html">
                    <i class=""></i><span> </span>
                </a>
            </li>
            <li class=" treeview">
                @*<a class="waves-effect waves-dark" href="@Url.RouteUrl("AdminPage")">*@
            </li>
            <li class=" treeview">
                <a class="waves-effect waves-dark" href="urunler">
                    <i class="fa fa-gears"></i><span> Ekipmanlar</span>
                </a>
            </li>
            <li class=" treeview">
                <a class="waves-effect waves-dark" href="CompanyInfoPage">
                    <i class="fa fa-building"></i><span> Firma Bilgileri</span>
                </a>
            </li>



        </ul>
    </section>
</aside>