
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @await Html.PartialAsync("/Views/Layout/HeadPartial.cshtml")
</head>
<body>
    @await Html.PartialAsync("/Views/Layout/NavbarPartial.cshtml")
    @RenderBody()
    @await Html.PartialAsync("/Views/Layout/ScriptPartial.cshtml")

</body>
</html>
