@model List<CompanyInfoGetDto>
@{

    ViewData["Title"] = "AdminProductPage";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}


<div class="content-wrapper">
    <div class="container-fluid">
        <div>
            <div class="row">
                <div class="col-sm-12 p-0 text-center">
                    <div class="main-header">
                        <h4>Firmamız</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text"></h5>

                    </div>
                    <div class="card-block">

                        <br />

                        <table class="table table-hover">
                            <thead>
                                <tr>

                                    <th>Adı</th>
                                    <th>Telefon1</th>
                                    <th>Telefon2</th>
                                    <th></th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.Telephone1</td>
                                        <td>@item.Telephone2</td>


                                        <td>
                                            
                                            <a href="/CompanyInfo/UpdateCompanyInfo/@item.Id" class="btn btn-outline-success">Güncelle</a>

                                        </td>


                                    </tr>


                                }
                            </tbody>

                        </table>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<script src="style/jquery-3.2.1.min.js"></script>
<script src="style/moment.js"></script>
<script src="style/toastr.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="assets/plugins/light-box/js/ekko-lightbox.js"></script>
<script src="assets/plugins/lightbox2/dist/js/lightbox.js"></script>

