@model List<AdminProductViewModel>

<section class="portfolio ">
    <div class="container">
        <div class="row mb-5">
            <div class="col-10">
                <div class="btn-group btn-group-toggle " data-toggle="buttons">
                    <label class="btn active ">
                        <input type="radio" name="shuffle-filter" value="Tümü" checked="checked" />Tümü
                    </label>
                    <label class="btn">
                        <input type="radio" name="shuffle-filter" value="Rögar" />Rögar
                    </label>
                    <label class="btn">
                        <input type="radio" name="shuffle-filter" value="Beton Altyapı Elemanları" />Beton Altyapı Elemanları
                    </label>
                    <label class="btn">
                        <input type="radio" name="shuffle-filter" value="Kompozit Kapak" />Kompozit Kapak
                    </label>
                    <label class="btn">
                        <input type="radio" name="shuffle-filter" value="Mermer" />Mermer
                    </label>
                </div>
            </div>
        </div>

        <div class="row shuffle-wrapper portfolio-gallery">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;design&quot;,&quot;illustration&quot;]">
                    <div class="position-relative inner-box">
                        <div class="image position-relative ">
                            <img src="~/thomson-main/theme/images/portfolio/1.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">@*ressim ekleme öğren*@
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <a class="overlay-content" href="portfolio-single.html">
                                        <h5 class="mb-0">@item.Name</h5>
                                        <p>@item.Name</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>
</section>