
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Layout.cshtml";
}

<section class="section banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h2 class="cd-headline clip is-full-width mb-4 ">
                    I provide <br>
                    <span class="cd-words-wrapper text-color">
                        <b class="is-visible">Design solutions. </b>
                        <b>Creative Ideas.</b>
                        <b>Professional Content.</b>
                    </span>
                </h2>
                <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain <br>was born and I will give you a complete account of the system</p>
            </div>
        </div>
    </div>
</section>

<!-- Banner End -->
<!-- POrtfolio start -->
@*@await Html.PartialAsync("/Views/HomePage/HomePortfolio.cshtml")
*@

<section class="page-title section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1 class="text-capitalize mb-0 text-lg">Tamamlanan İşlerimiz</h1>
                </div>
            </div>
        </div>
    </div>
</section>
@await Html.PartialAsync("/Views/HomePage/HomeCompletedWorks.cshtml")


