<section class="section banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h2 class="cd-headline clip is-full-width mb-4 ">
                    UMUT
                    <span class="cd-words-wrapper text-color">
                        <b class="is-visible">MERMER </b>
                        <b></b>
                        <b></b>
                    </span>
                </h2>
                <p> Mermer, Mezar, Rögar, Altyapı Malzemeleri  <br></p>
            </div>
        </div>
    </div>
    <style>
        section.banner {
            background-image: url("~/thomson-main/theme/images/logo.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</section>