
<section class="section banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h2 class="cd-headline clip is-full-width mb-4 ">
                    muhammed <br>
                    <span class="cd-words-wrapper text-color">
                        <b class="is-visible">imal. </b>
                        <b>Halı</b>
                        <b>kilim.</b>
                    </span>
                </h2>
                <p>Ölmek için eN UYGUN ZAMAN DEĞİL Mİ ?  <br>Mermer Bizim işimiz</p>
            </div>
        </div>
    </div>
</section>
