
@{
    Layout = null;
}

<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="tr">

@await Component.InvokeAsync("_HeadPartial")

<body>

    <!-- Navigation Start -->
    <!-- Header Start -->
    @await Component.InvokeAsync("_NavbarPartial")

    <!-- Header Close -->
    <!-- Navigation ENd -->
    <!-- Banner Start -->
    @await Component.InvokeAsync("_BannerPartial")

    <!-- Banner End -->
    <!-- POrtfolio start -->
    @await Component.InvokeAsync("_ProductPartial")
    <!-- Portfolio End -->
    <!-- Service start -->
    @await Component.InvokeAsync("_PortfolioPartial")
    <!-- service end -->
    <!-- Footer start -->
    <section class="footer">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6">
                    <p class="mb-0">Copyrights © 2019. Designed & Developed by <a href="themefisher.com" class="text-white">Themefisher</a></p>
                </div>
                <div class="col-lg-6">
                    <div class="widget footer-widget text-lg-right mt-5 mt-lg-0">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/themefisher" target="_blank"><i class="ti-facebook mr-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://twitter.com/themefisher" target="_blank"><i class="ti-twitter mr-3"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="https://github.com/themefisher/" target="_blank"><i class="ti-github mr-3"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.pinterest.com/themefisher/" target="_blank"><i class="ti-pinterest mr-3"></i></a></li>
                            <li class="list-inline-item"><a href="https://dribbble.com/themefisher/" target="_blank"><i class="ti-dribbble mr-3"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer End -->
    <!-- jQuery -->
    <script src="~/thomson-main/plugins/theme/jQuery/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/thomson-main/theme/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/thomson-main/theme/plugins/aos/aos.js"></script>
    <script src="~/thomson-main/theme/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/thomson-main/theme/plugins/shuffle/shuffle.min.js"></script>
    <script src="~/thomson-main/theme/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/thomson-main/theme/plugins/animated-text/animated-text.js"></script>
    <script src="~/thomson-main/theme/plugins/counto/apear.js"></script>
    <script src="~/thomson-main/theme/plugins/counto/counTo.js"></script>

    <!-- Google Map -->
    <script src="~/thomson-main/theme/plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>
    <!-- Main Script -->
    <script src="~/thomson-main/theme/js/script.js"></script>
</body>
</html>

