
@{
    Layout = null;
}

<!DOCTYPE html>


<html lang="tr">

@await Component.InvokeAsync("_HeadPartial")

<body>

  
    @await Component.InvokeAsync("_NavbarPartial")

  
    @await Component.InvokeAsync("_BannerPartial")

    
    @await Component.InvokeAsync("_CategoryPartial")
    <div id="content">
       
    
    </div>
  
    @await Component.InvokeAsync("_PortfolioPartial")
 
    @await Component.InvokeAsync("_FooterPartial")
 
    <script src="~/thomson-main/plugins/theme/jQuery/jquery.min.js"></script>
   
    <script src="~/thomson-main/theme/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/thomson-main/theme/plugins/aos/aos.js"></script>
    <script src="~/thomson-main/theme/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/thomson-main/theme/plugins/shuffle/shuffle.min.js"></script>
    <script src="~/thomson-main/theme/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/thomson-main/theme/plugins/animated-text/animated-text.js"></script>
    <script src="~/thomson-main/theme/plugins/counto/apear.js"></script>
    <script src="~/thomson-main/theme/plugins/counto/counTo.js"></script>

   
    <script src="~/thomson-main/theme/plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/thomson-main/theme/js/script.js"></script>
    <script>

        function getContentDetail(categoryId) {

            $("#content").empty();
            var _url = 'GetContentDetail?categoryId=' + categoryId;
            $.ajax({
                type: "GET",
                url: _url,
                success: function (result) {
                    $("#content").html(result);
                }
            });
        }

    </script>
</body>
</html>

